<%- include('./includes/head.ejs') %>
    <title>Dashboard | Admin</title>

    <%- include('./includes/main.ejs') %>


    <main id="app-main" class="app-main">
        <div class="wrap">
            <section class="app-content">
                <!-- Image Gallery -->
                <div class="gallery row" id="mainview">
                  <h2>Please download and install .Ignore if downloaded , and make sure SSL Console installed and running on your system before import.</h2>
                  <p>In MacOS please allow application to run from : <b>System Preferences -> Security & Privacy !</b></p>
                    <a class="btn btn-primary" href="../ssl_console.dmg" download> Download Application</a>
                    <a  class="btn btn-warning" href="../web-socket.pkg" download> Download Websocket</a>


                </div><!-- END .gallery -->
            </section><!-- #dash-content -->
        </div><!-- .wrap -->
        
    </main>

        <%- include('./includes/mainfooter.ejs') %>