<%- include('./includes/head.ejs') %>
    <title>Dashboard | Admin</title>

    <%- include('./includes/main.ejs') %>


    <main id="app-main" class="app-main">
        <div class="wrap">
            <section class="app-content">
                <!-- Image Gallery -->
                <div class="gallery row" id="mainview">
                 
                    <a class="btn btn-primary" href="../../upload/uploads/ssl-console.dmg" download> Download Application</a>
                    <a  class="btn btn-warning" href="../../upload/uploads/ssl-websocket.dmg" download> Download Websocket</a>


                </div><!-- END .gallery -->
            </section><!-- #dash-content -->
        </div><!-- .wrap -->
        
    </main>

        <%- include('./includes/mainfooter.ejs') %>