<%- include('./includes/head.ejs') %>
    <title>Live | Admin</title>
    <%- include('./includes/main.ejs') %>

        <style>
            .gallery-item {

                max-height: 280px;
                height: 280px;

                background-color: black;
            }

            .videoInsert {
                width: 275px;
                height: 280px;
            }

            .round {
                position: absolute;
                height: 50px;
                width: 50px;
                z-index: 12;
                right: 0;
                bottom: 40px;
                display: none;
            }

            .round label {
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 50%;
                cursor: pointer;
                height: 28px;
                left: 0;
                position: absolute;
                top: 0;
                width: 28px;
            }

            .round label:after {
                border: 2px solid #fff;
                border-top: none;
                border-right: none;
                content: "";
                height: 6px;
                left: 7px;
                opacity: 0;
                position: absolute;
                top: 8px;
                transform: rotate(-45deg);
                width: 12px;
            }

            .round input[type="checkbox"] {
                visibility: hidden;
            }

            .round input[type="checkbox"]:checked+label {
                background-color: #4c00ff;
                border-color: #4c00ff;
            }

            .round input[type="checkbox"]:checked+label:after {
                opacity: 1;
            }
        </style>
        <!-- APP MAIN ==========-->
        <main id="app-main" class="app-main">
            <div class="wrap">
                <section class="app-content">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <div class="mail-toolbar m-b-lg">
                            <div class="btn-group" role="group">
                                <a href="#" onclick="addvideo()" class="btn btn-default">Media Grid</a>
                            </div>

                            <div class="btn-group" role="group">
                                <a href="#" class="btn btn-default"><i class="fa fa-trash"></i></a>
                                <a href="#" class="btn btn-default"><i class="fa fa-exclamation-circle"></i></a>
                            </div>
                            <a href="#" class="btn btn-default"><i class="fa fa-refresh"></i></a>

                            <div class="btn-group pull-right" role="group">
                                <a href="#" class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
                                <a href="#" class="btn btn-default"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div> -->
                        </div>
                    </div>

                    <!-- Image Gallery -->
                    <div class="gallery row" id="mainview">



                        <!-- <div class="round" onmouseover="check(this)"><input type="checkbox" id="checkbox"
                                name="checkedvalues[]" value="' + stream + '" /><label for="checkbox"></label></div>

                        <div class="round" onmouseover="check(this)"><input type="checkbox" id="checkbox"
                                name="checkedvalues[]" /><label for="checkbox"></label>
                        </div> -->





                    </div><!-- END .gallery -->
                </section><!-- #dash-content -->
            </div><!-- .wrap -->
           


             <!-- Modal -->
             <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog" role="document">
                 <div class="modal-content">

                     <div class="modal-body">

                        <p>SSL Console Application is not running on your system. Please ensure SSL Console is running before import.</p>
                       <div class="row">
                           <div class="col-md-4">
                            <button onclick="openssl()" class="btn btn-danger"
                        >Open SSL Console</button>
                           </div>
                           <div class="col-md-4">

                        </div>

                        <div class="col-md-4">
                            <button type="button" onclick="gotoDownload()" class="btn btn-secondary"
                            data-dismiss="modal">Go to Download</button>
                        </div>
                       </div>
                       
                         
                           
                       
                     </div>
                 </div>
             </div>
         </div>
        </main>
        <!--========== END app main -->
        <script src="../assets/js/obs-websocket.js"></script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
        <script>
           
           var obsrunning=false;

            // var localhost = "127.0.0.1";
            var localhost = "207.148.73.163";

            var mainview = document.getElementById('mainview');
            loadStreams();

            var allAvailableStreams = [];
            function loadStreams() {
                console.log("called load stream");
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {

                        var obj = JSON.parse(this.responseText);



                        if (obj != null) {
                            var liveStreams = obj.live;
                            // document.getElementById("tabledata").innerHTML = '';
                            for (var strm in liveStreams) {

                                var publisher = liveStreams[strm].publisher;
                                console.log(liveStreams);
                                if(publisher != null){
                                    var clientId = publisher.clientId;
                                var stream = publisher.stream;
                                var startTime = publisher.connectCreated;
                                var ip = publisher.ip;
                                var video = publisher.video;


                                if (!allAvailableStreams.includes(stream)) {
                                    allAvailableStreams.push(stream);

                                    const div = document.createElement('div');

                                    div.className = 'col-xs-6 col-sm-4 col-md-3';
                                    var myvframe = '<div class="gallery-item"><div class="round" onmouseover="check(this)"><input type="checkbox" id="checkbox" name="checkedvalues[]"  value="' + stream + '"/><label for="checkbox"></label></div><div class=""><video class="videoInsert" onmouseover=playVideo("' + stream + '","' + clientId + '")  id="' + clientId + '" controls  poster="http://207.148.73.163:3000/assets/img/brand/logo.jpeg" muted> </video></div></div>';
                                    div.innerHTML = myvframe;
                                    mainview.appendChild(div);

                                }
                                }



                            }
                            var newavailable = [];
                            for (var strm in liveStreams) {
                                var publ = liveStreams[strm].publisher;

                                if(publ != null){
                                    var stre = publ.stream;
                                newavailable.push(stre);
                                }
                            }

                            var re = compareArray(allAvailableStreams, newavailable);
                            if (!(re == "")) {
                                //alert(re);
                                allAvailableStreams = [];
                                document.getElementById("mainview").innerHTML = "";

                            }




                        }






                    }
                };
                xhttp.open("GET", "http://" + localhost + ":8000/api/streams", true);
                xhttp.send();



            }

            function compareArray(array1, array2) {

                var a = array1 = array1.filter(val => {
                    if (!array2.includes(val)) {
                        return true;
                    }

                });

                return a;
            }

            async function playVideo(stream, vid) {


                var vurl = "http://" + localhost + ":8000/live/" + stream + '.flv';


                if (flvjs.isSupported()) {

                    if (document.getElementById(vid).paused) {
                        var flvPlayer = flvjs.createPlayer({
                            type: 'flv',
                            url: vurl
                        });
                        flvPlayer.attachMediaElement(document.getElementById(vid));
                        flvPlayer.load();
                        await flvPlayer.play();
                    }
                }
            }

            setInterval(loadStreams, 4000);
        </script>




        <script>

            var flvPlayer;

            function playStream(strm_id) {

                openModald();

                var vurl = "http://" + localhost + ":8000/live/" + strm_id + '.flv';

                if (flvjs.isSupported()) {
                    var videoElement = document.getElementById('videoElement');
                    flvPlayer = flvjs.createPlayer({
                        type: 'flv',
                        url: vurl
                    });
                    flvPlayer.attachMediaElement(videoElement);
                    flvPlayer.load();
                    flvPlayer.play();
                }

            }


            function stopvplaying() {
                console.log("seraj", "playing")
                flvPlayer.pause();

            }

        </script>

        <script>
            // handle events and mouse


            const selectIcons = document.getElementById("selectallicon");
            selectIcons.style.display = "block";
            const deselectIcons = document.getElementById("deselectallicon");
            const importIcon = document.getElementById("importicon");

            function hideShowIcons() {
                var x = document.getElementById("deselectallicon");
                if (x.style.display === "none") {
                    x.style.display = "block";
                    $(".round").fadeIn();
                    $(".round").fadeIn("slow");
                    $(".round").fadeIn(3000);
                    // $(".round").css("display", "block");
                    importIcon.style.display = "block";
                } else {
                    x.style.display = "none";
                    $(".round").fadeOut();
                    $(".round").fadeOut("slow");
                    $(".round").fadeOut(3000);
                    importIcon.style.display = "none";
                }
            }


            //select and deselect handle
            var sdihtml = document.getElementById('sdtext').innerHTML;

            $("#sdtext").toggle(
                function () { selectAll(); },
                function () { deselectAll(); },
            );
            function selectAll() {
                selectAllStream();
                $("#sdtext").html("Deselect All");
            }

            function deselectAll() {
                deselectAllStream();
                $("#sdtext").html("Select All");
            }



            //import button icon

            function importStreamsinEditorsConsole() {
                importStream();
            }








            //handleshortcuts

            let keyboard = document.body;
            keyboard.addEventListener('keydown', e => {
                e.preventDefault();

                if (e.key == 'a' && (e.metaKey || e.ctrlKey)) {
                    //alert("Selecting All");
                    selectAllStream();

                }

                if (e.key == 'd' && (e.metaKey || e.ctrlKey)) {
                    //alert("Selecting All");
                    deselectAllStream();

                }

                if (e.key == 'i' && (e.metaKey || e.ctrlKey)) {
                    //alert("Selecting All");
                    importStream();

                }

                console.log(e);
            })




            //select on mouse drag function

            function check(box) {
                if (mouseDown) {
                    var chks = box.querySelectorAll("input[type='checkbox']");
                    var result = Array.prototype.every.call(chks, function (c) {
                        return c.checked = 1;
                    });
                    //console.log(result);
                    // box.checked = 1; //- box.checked;
                    // box.checked = 1;
                    // ^ If you only want to turn them on, use this.
                }
            }

            var mouseDown = 0;
            document.body.onmousedown = function () { ++mouseDown; }
            document.body.onmouseup = function () { --mouseDown; }

            function selectAllStream() {

                let b = document.getElementsByName("checkedvalues[]");
                b.forEach(ele => {
                    ele.checked = true;
                })

            }

            function deselectAllStream() {
                let b = document.getElementsByName("checkedvalues[]");
                b.forEach(ele => {
                    ele.checked = false;
                })
                console.log(b);

            }


            function importStream() {
                let yourArray = [];
                
                if(!obsrunning){
                    $('#exampleModal').modal('show');
                }


                let allchecked = document.getElementsByName("checkedvalues[]");
                allchecked.forEach(ele => {
                    if (ele.checked) {
                        yourArray.push(ele.value);
                        var vurl = "http://" + localhost + ":8000/live/" + ele.value + '.flv';
                        obs.send('CreateSource',{sourceName:ele.value,sourceKind:"ffmpeg_source",sceneName:"Scene",sourceSettings:{input:vurl,is_local_file:false,buffering_mb:10,reconnect_delay_sec:2}}).then(data=>{
                            console.log(data);
                        })
                    }
                })

                if(yourArray.length >0){
                    alert("Imported to application");
                }else{
                    alert("Please select stream first.");
                }

                //alert(yourArray.length + " streams importing in editor's console");
            }


    
            
                        
$('document').ready(function(){

const obs = new OBSWebSocket();


obs.connect({
address: "localhost:4444"
}).catch(error=>{

console.log(error);
$('#exampleModal').modal('show');

// document.location="http://207.148.73.163:3000/editor/downloads";


});


obs.on('ConnectionOpened', () => {

obsrunning=true;
console.log("web socket connected successfully.");


});

});






function gotoDownload(){
window.location.href = "http://207.148.73.163:3000/admin/downloads";
}


function openssl(){
// setTimeout(function () { window.location = "http://127.0.0.1:3000/editor/downloads"; }, 25);
// window.location = "editconsole://";


window.location.href = "editconsole://";
obsrunning=true;
}
            



   

        </script>



        <%- include('./includes/mainfooter.ejs') %>